.Quizroot {
  width: 60vw;
  height: 70vh;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:whitesmoke ;
  border: "1px solid darkgray";
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .quizheader {
    background-color: rgb(120, 96, 210);
    display: flex;
    height: 60px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .optionItem {
    display: flex;
    height: 40px;
    min-width: 15vw;
    width: fit-content;
    justify-content: left;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
  }
  .btnContainer {
    display: flex;
    margin-top:20px ;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    bottom: 0;
  }
  .btn {
    width: 20%;
    height: 50px;
    background-color: rgb(120, 96, 210);
    border: none;
    border-radius: 5px;
  }
  .btnSubmit{
    width: 40%;
    height: 50px;
    background-color: rgb(19, 158, 218);
    border: none;
    border-radius: 5px;
    /* margin-top: 20px; */
    /* margin-left: auto; */
  }
  